body{
  background-color: #101c25;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #101c25;
}
.subir{
  padding-top: 10px;
  background: #3f4e5e;
  border-radius: 15px;
  border-color: transparent;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 45px;
    color:white;
    cursor: pointer;
}


.headers {
  color: rgb(145,161,177);
  /*margin-left: 55px;*/
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}
.arrow{
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  text-transform: -20px;
}
.col2{
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
}

.container2 {
  margin: 0 ;
  display: flex;
  left: -20px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.container2 i {
  padding: 20px;
  display: block;
  font-size: 50px;
  color: white;
  transition: all 0.4s ease;
}


.editor {
  height: 280px;
  width: 320px;
  margin-bottom: 25px;
}
.CodeMirror{
  height: 280px;
  width: 320px;
}
textarea {
  width: 100%;
  height: 100px;
  background-color: rgb(42,47,57);
  color: #fff;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  resize: none
}

.btn.btn-primary.buttons {
  background-color: #3f4e5e;
  border-radius: 15px;
  border-color: transparent;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 45px;
}

